@use "../base" as colors;

input[type="checkbox"] {
  content: " ";
  background-color: colors.color(colors.$background-main);
  border-radius: 2px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 14px;
  height: 14px;
  border: 1px solid colors.color(colors.$primary-main);
  cursor: pointer;
  position: relative;
  top: 2px;

  &:focus {
    outline: 1px solid rgba(0, 0, 0, 0.2);
  }

  &:checked {
    background-color: colors.color(colors.$primary-main);
  }
}
