@import "../base";

footer {
  max-width: 1180px;
  width: 100%;
  margin: 100px auto 0 auto;
  padding: 60px 0;

  svg {
    width: 16px;
    height: 16px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (max-width: $tablet-width) {
      & {
        justify-content: space-around;
      }

      & > *:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    .credentials {
      width: 260px;

      p {
        margin-top: 8px;
        font-size: 12px;
        opacity: 0.75;
        line-height: 17px;
      }
    }

    .list {
      width: 150px;
      height: 115px;

      ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        li {
          a {
            font-weight: 500;
          }
        }
      }
    }

    .phone-short {
      width: 175px;
    }

    .phone {
      width: 160px;
    }

    .phone-short,
    .phone,
    .social {
      padding-left: calc(18px + 35px);
      a:first-child {
        font-weight: 500;
        position: relative;
        svg {
          position: absolute;
          left: -35px;
        }
      }
      p:not(:first-child) {
        margin-top: 5px;
        font-size: 12px;
        line-height: 17px;
      }
    }

    .social {
      width: 110px;
      ul {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: $tablet-width) {
          & {
            height: 26px;
            align-items: center;
          }
        }
      }
    }
  }
}
