@import "../base";

.logo {
  width: 150px;
  justify-content: space-between;
  display: flex;
  align-items: center;

  @media screen and (max-width: $mobile-width) {
    & {
      width: 115px;
    }
  }

  svg {
    width: 28px;
    height: 25px;
  }

  span {
    margin-right: 11px;
    font-weight: 700;
    font-size: 20px;

    @media screen and (max-width: $tablet-width) {
      & {
        margin-right: 30px;
        font-size: 16px;
      }
    }

    @media screen and (max-width: $mobile-width) {
      & {
        margin-right: 0;
      }
    }
  }
}

header {
  width: 100%;
  height: 90px;
  z-index: 5;
  position: relative;

  @media screen and (max-width: $tablet-width) {
    & {
      height: 65px;
      position: fixed;
      background-color: color($background-main);
    }
  }

  .login-button {
    padding: 0;
    width: 210px;
    border: none;
    font-size: 16px;
    font-family: "Roboto", sans-serif;

    display: flex;
    justify-content: space-around;
    svg {
      width: 20px;
      height: 22px;
    }

    align-items: center;
    background-color: color($background-main);
    cursor: pointer;

    &:hover {
      background-color: color($background-main);
      opacity: 0.7;
    }

    @media screen and (max-width: $tablet-width) {
      & {
        justify-content: flex-end;
        width: 70px;
      }

      .help-text {
        display: none;
      }
    }

    @media screen and (max-width: $mobile-width) {
      & {
        width: auto;
      }
    }
  }

  .container {
    max-width: 1366px;
    min-width: $tablet-width;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    @media screen and (max-width: $tablet-width) {
      & {
        min-width: $mobile-width;
      }
    }

    @media screen and (max-width: $mobile-width) {
      & {
        min-width: $small-mobile-width;
      }
    }

    .wrapper {
      outline: 1px solid #c0ffef;
      height: 100%;
      padding: 0 6.5% 0 4.5%;

      display: flex;
      justify-content: space-between;
      align-items: center;

      & .nav-list {
        display: flex;

        padding-left: 0;
        margin-left: 60px;
        width: calc(100% - 60px - 210px - 150px);

        li:not(:last-child) {
          margin-right: 26px;
        }

        @media screen and (max-width: $tablet-width) {
          & {
            margin-left: 0;
            width: auto;
            display: none;
          }
        }
      }
    }
  }

  .burger-menu,
  .close-cross {
    .line {
      width: 24px;
      height: 2px;
      background-color: #1f1e25;
      display: block;
      margin: 3px auto;
    }
    cursor: pointer;
  }

  .burger-menu {
    display: none;

    @media screen and (max-width: $tablet-width) {
      & {
        display: block;
      }
    }
  }

  .close-cross {
    position: relative;
    width: 25px;
    height: 25px;

    & > * {
      position: absolute;
      top: 8px;
      left: 1px;
    }

    .line:nth-child(1) {
      transform: rotate(45deg);
    }

    .line:nth-child(2) {
      transform: rotate(135deg);
    }
  }

  .nav {
    position: absolute;
    width: auto;
    height: auto;

    display: none;

    top: 0;
    left: 0;

    background: color($background-main);
    padding: 20px 15px;

    z-index: 6;

    ul {
      margin: 15px 0 0 0;

      li {
        font-size: 18px;
        padding: 0 10px;
      }

      li:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  .modal-login {
    background-color: color($background-main);
    border: 4px solid color($primary-main);
    padding: 40px 55px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 544px;
    min-height: 493px;

    @media screen and (max-width: $mobile-width) {
      & {
        width: 375px;
      }
    }

    @media screen and (max-width: $small-mobile-width) {
      & {
        width: 270px;
      }
    }

    & > * {
      width: 100%;
      height: auto;
    }

    & > a {
      color: color($primary-main);
      text-decoration: underline;
      margin-bottom: 22px;
      text-align: center;
    }

    .modal-login-header {
      display: flex;
      justify-content: space-between;
      .logo {
        height: 40px;
        position: relative;

        span:nth-child(2) {
          padding-bottom: 15px;
        }

        span:nth-child(3) {
          position: absolute;
          top: 18px;
          left: 37px;
          font-size: 12px;
          font-weight: 400;
          line-height: 14px;
        }
      }
    }

    .modal-login-main {
      position: relative;

      .field-default {
        margin-bottom: 28px;

        input {
          text-align: start;
        }
      }

      button {
        position: absolute;
        bottom: 0;
        right: 0;

        border: 0;
        opacity: 0.65;
        background-color: transparent;

        &:hover {
          opacity: 0.5;
          cursor: pointer;
        }
      }
    }

    .modal-login-reset {
      height: 350px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      // text-align: center;

      .field-default {
        margin-top: 15px;
      }
      button {
        margin-top: 60px;
      }
    }

    .modal-login-reset-password {
      display: flex;
      flex-direction: column;

      & > * {
        margin-bottom: 20px;
      }

      .field-default:nth-child(2) {
        margin-bottom: 60px;
      }
    }
  }
}
