@import "../base";

.slider {
  width: 100%;
  height: 400px;
  background-color: color($background-main);

  @media screen and (max-width: $mobile-width) {
    & {
      height: 300px;
    }
  }

  .swiper-container,
  .swiper-wrapper,
  .slide-wrapper,
  .swiper-slide {
    height: 100% !important;
  }

  .swiper-pagination {
    bottom: 39px;

    .swiper-pagination-bullet {
      opacity: 1;
      background: color($primary-main);
    }

    .swiper-pagination-bullet-active {
      background: color($background-main);
    }
  }

  .slide-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 733px;
    height: 100%;
    margin: 0 auto;

    .info {
      h1 {
        font-size: 54px;
        font-weight: 700;
      }

      h3 {
        font-size: 22px;
        font-weight: 400;
      }

      button {
        margin-top: 35px;
      }
    }

    .img-fwfh {
      height: 100%;
    }
    @media screen and (max-width: $tablet-width) {
      & {
        max-width: 650px;

        .info {
          h1 {
            font-size: 34px;
          }
          h3 {
            font-size: 17px;
          }
        }
      }
    }

    @media screen and (max-width: $mobile-width) {
      div {
        z-index: 2;
        margin-left: 20px;
      }

      img {
        z-index: 1;
        position: absolute;
        right: -130px;
      }
    }
  }

  #slide0 {
    background: color($primary-main) url(../../images/slider-card.jpg) center no-repeat;

    .info {
      color: color($background-main);
    }
  }

  #slide1 {
    background: linear-gradient(90deg, #dee2ed 0%, #f1f7ff 100%);
  }

  #slide2 {
    background: #e5f1fd;
  }
}
