@import "../../base";

#calculate {
  width: 100%;
  height: auto;
  background-color: color($background-main);

  @media screen and (max-width: $tablet-width) {
    & {
      width: auto;
    }
  }

  .dropdown {
    width: 100%;
    border: 1px solid color($edging-main);
    background-color: color($background-main);
    img {
      position: absolute;
      top: 40%;
      right: 3%;
    }
  }
  .help-text {
    display: block;
    font-size: 14px;
    opacity: 0.7;
    margin-top: 8px;
  }
  .field-slider {
    flex-direction: column;
  }
  .dropdown {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px 22px;
  }

  .dropdown-wrapper {
    width: 100%;
    .dropdown {
      border-radius: 4px;
    }
    position: relative;

    * {
      transition: all 0.1s ease-in-out;
    }

    ul {
      height: 0;
      border: 1px solid color($edging-main);
      border-top: none;
      border-radius: 0 0 4px 4px;

      position: absolute;
      width: calc(100% - 2px);
      background-color: color($background-main);
      z-index: 3;

      li {
        padding: 20px 22px;
        cursor: pointer;
      }

      li:not(:last-child) {
        border-bottom: 1px solid rgba(#1f1e25, 0.3);
      }
    }
  }

  .calculator-wrapper {
    display: flex;
    justify-content: space-between;

    @media (max-width: $tablet-width) {
      margin-top: 70px;
      flex-direction: column;

      & > * {
        flex: 1;
        width: 100% !important;
      }
    }

    @media (max-width: $mobile-width) {
      // min-height: 492px;
      margin-top: 30px;
    }

    .steps {
      .first-step {
        margin-bottom: 35px;
      }

      .second-step {
        .field {
          .field-title {
            display: block;
            margin-bottom: 8px;
          }
        }

        .field:not(:last-child) {
          margin-bottom: 18px;
        }

        .field-error {
          font-size: 14px;
          color: color($warning);
          margin-top: 8px;
        }

        .field-buttons {
          display: flex;
          flex-direction: column;

          .main-input {
            position: relative;

            button {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              border: none;
              cursor: pointer;

              color: color($edging-main);
              line-height: 55px;
              font-size: 32px;

              &:focus {
                outline: none !important;
              }
            }
            button:nth-child(1) {
              left: 5%;
            }
            button:nth-child(3) {
              right: 5%;
            }
          }
        }

        // @  https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
        .field-slider {
          input[type="range"] {
            width: 100%;
            margin-top: 20px;
            -webkit-appearance: none;

            &:focus {
              outline: none;
            }

            &::-webkit-slider-runnable-track {
              width: 100%;
              height: 1px;
              cursor: pointer;
              background: #c1c2ca;
            }
            &::-webkit-slider-thumb {
              height: 14px;
              width: 14px;
              border-radius: 10px;
              background: color($primary-main);
              cursor: pointer;
              -webkit-appearance: none;
              margin-top: -7px;
            }
            &:focus::-webkit-slider-runnable-track {
              background: #c1c2ca;
            }
            &::-moz-range-track {
              width: 100%;
              height: 1px;
              cursor: pointer;
              background: #c1c2ca;
            }
            &::-moz-range-thumb {
              height: 14px;
              width: 14px;
              border-radius: 10px;
              background: color($primary-main);
              cursor: pointer;
            }
            &::-ms-track {
              width: 100%;
              height: 8.4px;
              cursor: pointer;
              background: transparent;
              border-color: transparent;
              border-width: 16px 0;
              color: transparent;
            }
            &::-ms-fill-lower {
              background: #c1c2ca;
            }
            &::-ms-fill-upper {
              background: #c1c2ca;
            }
            &::-ms-thumb {
              height: 14px;
              width: 14px;
              border-radius: 10px;
              background: color($primary-main);
              cursor: pointer;
            }
            &:focus::-ms-fill-lower {
              background: #c1c2ca;
            }
            &:focus::-ms-fill-upper {
              background: #c1c2ca;
            }
          }

          .range-help {
            margin-top: 6px;
            font-size: 14px;
            width: 100%;
            display: flex;
            justify-content: space-between;
          }
        }

        .field-buttons,
        .field-slider {
          input[type="number"] {
            width: calc(100% - 2px);
            height: 60px;
            border: 1px solid color($edging-main);
            border-radius: 4px;
            text-align: center;
            background-color: color($background-main);
            appearance: textfield;
            font-family: "Roboto", sans-serif;
            color: color($edging-main);
            font-size: 16px;

            &:focus {
              border: 1px solid color($edging-main);
              //   outline: none !important;
            }
          }
          input[type="number"]::-webkit-inner-spin-button,
          input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          .error {
            border: 1px solid color($warning) !important;
          }
        }
      }

      width: 50%;

      h4 {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 25px;
      }
    }

    .offer {
      width: 33%;
      // min-height: 389px;
      margin-top: 10px;

      padding: 48px 53px 58px 60px;

      background: color($background-primary);

      @media screen and (max-width: $tablet-width) {
        & {
          width: auto !important;
          padding: 48px 50px 0;
        }
      }

      .offer-title {
        font-weight: 500;
        margin-bottom: 25px;
        font-size: 22px;
      }

      .calculation {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        & > * {
          width: 50%;
          display: flex;
          flex-direction: column;
          margin-bottom: 30px;

          p {
            font-size: 22px;
            font-weight: 500;
            margin-bottom: 7px;
          }

          span {
            opacity: 0.8;
          }
        }
      }

      button {
        width: 100%;
      }
    }
  }
}
