@import "../../base";

#map {
  .checkboxes {
    width: 30%;

    margin: 0 auto;
    ul {
      height: 82px;
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    @media screen and (max-width: $tablet-width) {
      & {
        width: 50%;
      }
    }

    @media screen and (max-width: $mobile-width) {
      & {
        width: 90%;
      }
    }
  }
}
