@use "./components/slider";

// components
@use "./components/Home/services";
@use "./components/Home/calculator";
@use "./components/Home/map";

@import "./base";
.main-wrapper {
  width: 100%;
  height: auto;

  @media screen and (max-width: $tablet-width) {
    & {
      margin-top: 65px;
    }
  }
}

.main-content {
  width: 100%;
  // background-color: rgb(100, 100, 100);
  min-height: 140vh;

  & > *:not(:last-child) {
    margin-bottom: 130px;
  }

  @media screen and (max-width: $mobile-width) {
    & > *:not(:last-child) {
      margin-bottom: 70px;
    }
  }

  #calculate,
  #map {
    h1 {
      margin-bottom: 60px;
      font-size: 41px;
      font-weight: 700;

      @media screen and (max-width: $mobile-width) {
        & {
          margin-bottom: 0;
        }
      }
    }
  }

  @media screen and (max-width: $laptop-width) {
    #services {
      margin-bottom: 80px;
    }

    & > *:not(#services) {
      padding: 0 30px;
    }
  }
}
